<header class="panel">
    <h1>{{header1}}</h1>
    <h2>{{header2}}</h2>
    <form>
        <input type="text" name="filter" id="filterbar" placeholder="πχ John Grisham">
    </form>
</header>

<article>
    {{#each favorites}}
        <section>
            <ul>
                <li class="author">{{author}}</li>
                <li class="title">{{title}}</li>
                <li class="workid">{{workid}}</li>
                <li class="comment">Σχόλιο: {{critic}} </li>
            </ul>
            <input type="button" class="favorite" value="- Αγαπημένα">

            <form>
                <button class="edit" value="Επεξεργασία" formaction="{{workid}}">Επεξεργασία</button>
            </form>
        </section>
    {{/each}}
</article>