<header class="panel">
    <h1>Τα αγαπημένα σας έργα!</h1>
    <h2>Φιλτράρισμα αγαπημένων:</h2>
    <form>
        <input type="text" name="filter" id="filterbar" placeholder="πχ John Grisham">
    </form>
</header>

<article>
    {{#each favorites}}
        <section class="work">
            <ul>
                <li class="author">{{author}}</li>
                <li class="title">{{title}}</li>
                <li class="workid">{{workid}}</li>
                <li class="comment">Σχόλιο: {{critic}} </li>
            </ul>

            <form>
                <input type="button" class="favorite" value="- Αγαπημένα">
                <button class="edit" value="Επεξεργασία" formaction="{{workid}}">Επεξεργασία</button>
            </form>
        </section>
    {{/each}}
</article>